body {
    /* background-color: greenyellow;
    background-image: url(pexels-aleksandar-pasaric-1386454.jpg);
    background-repeat: no-repeat;
    background-position: 50px 50px;
    background-attachment: fixed; */

    background: greenyellow;
}