/* 0 id, 0 class, 0 type */

/*  0, 0,3,1 */
body .box.box-2.box-3 {
    width: 300px;
    height: 200px;

    background: red;
}


/* 0, 0,1,1 */
body .box {
    background: blue;
}

/* 0 , 0, 4, 1 */
body .box.box-2.box-3:hover {
    background: hotpink;
}



/* 0, 0,0,1 */
div {
    background: hotpink;
}